{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
    <h1 class="about-heading">About this project</h1>
        <p class="desc-text">The pancreas is a glandular organ which carries important functions 
           in both digestive and endocrine systems. The extracellular matrix (ECM) 
           is the network of proteins and polysaccharides surrounding cells, forming 
           a niche in which cells reside and function. It is well known that ECM is 
           a dynamic and key component for maintaining optimal cell and tissue homeostasis 
           through its involvement in many intracellular events. However, how the pancreatic 
           ECM dynamically changes in humans over the lifespan has not been previously 
           described. We have focused on the proteome and matrisome of the human pancreas so as 
           to establish normal baseline data for future investigations into mechanisms of pancreatic 
           disease states, such as diabetes, pancreatic cancer, pancreatitis, and islet pathology. 
           This study presents new knowledge and the most comprehensive proteomics analysis 
           across the life cycle of human pancreas development and maturation to date. The data 
           presented were acquired using mass spectrometry-based quantitative proteomics with our 
           custom developed N,N-dimethyl leucine (DiLeu) isobaric tags at four age groups: fetal 
           (18-20 weeks gestation), juvenile (5-16 years old), young adults (21-29 years old) and 
           older adults (50-61 years old).
            </p>
        <p class="desc-text">The matrisome and proteome database of human pancreas was developed through a 
            collaborative effort between 
            <a href="https://lilabs.org">Li Research Group</a> 
            in the School of Pharmacy and 
            <a href="https://www.surgery.wisc.edu/research/researchers-labs/odorico/">Odorico lab</a> 
            in the Department of Surgery, School of Medicine and Public Health at the University 
            of Wisconsin Madison. In this web application, you will be able to search a protein 
            of interest using Uniprot accession number or gene name and view its related information 
            (if it is ECM protein, what ECM category it is, if it is significantly changed in 
            different age groups and so on). Full dataset in spreadsheets are also available to download.</p>
        <p class="desc-text">For more details about this work and the data provided within, the associated
                             manuscript is now available: <a href="https://doi.org/10.1038/s41467-021-21261-w">"<u>Proteome-wide 
                             and matrisome-specific alterations during human pancreas development and maturation</u>"</a>!</p>
        <p class="desc-text">For questions and concerns, feel free to <a href="/authors">contact us</a>.</p>
</div>
{% endblock %}
